body{
    background-color: #8758ff;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}
.container{
    margin: auto;
    max-width: 550px;
    background-color: #1A1A40;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding-bottom: 5px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
a,p{
    color: #4b5156
}
a{
    font-weight: 700;
    text-decoration: none;
}
.header-bar{
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #8758ff;
    border-radius: 10px 10px 0 0;
}
.header-bar a{
    background-color: #8758ff;
    color: rgb(247, 247, 247);
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
}
.header-bar a:hover{
    background-color: rgb(247, 247, 247);
    color: #8758ff;
}
.task-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8758ff;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
}
.task-wrapper a{
    color: white;
}
.task-title{
    display: flex;
    padding: 10px;
}
.task-title a{
    margin-left: 10px;
}
.task-complete-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(105, 192, 105);
}
.task-incomplete-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
}
.delete-link{
    font-weight: 900;
    font-size: 22px;
    padding: 20px;
    line-height: 0;
}
.search-add-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 10px;
}
.add-link{
    font-size: 40px;
    color: #8758ff;
}
input[type=text],input[type=password],textarea {
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    outline: none;
    background: none;
    border: 1px solid #8758ff;
    color: white;
    resize: none;
}
label {
    padding-top: 10px !important;
    display: block;
    color: white;
}
.card-body{
    padding: 10px;
}
.submit{
    cursor: pointer;
    background-color: #8758ff;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s;
}
.submit:hover{
    filter: brightness(0.9);
}
.todo-input{
    outline: none !important;
    background: none !important;
    border: 1px solid #8758ff !important;
    padding: 8px 16px !important;
    color: white !important;
    border-radius: 0px !important;
}
.todo-input::placeholder{
    color: #ffffff4d !important;
}
.todo-btn{
    padding: 8px;
    color: white;
    background-color: #8758ff;
    cursor: pointer;
    border: none;
    font-size: 15px;
}
.login-btn{
    cursor: pointer;
    background-color: #8758ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}