{% extends 'base/main.html' %}

{% block content %}

<div class="header-bar">
    <h1>Login</h1>
</div>
<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="login-btn" style="margin-top: 10px;" type="submit" value="Login">
    </form>
    <p style="color: white;">Do not have an account ? <a href="{% url 'register' %}" style="color: white; text-decoration: underline;">Register</a></p>
</div>

{% endblock %}